.image-link-form{
    color: white;
    margin-bottom: 20px;
}
.image-link-form p{
    font-size: 1.3rem;
}
.image-link-form-box{
    width: 650px;
    display: flex;
}

.image-link-form-input{
    width: 70%;
    border-right: none;
    border: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    outline: none;
    padding: 10px;
    cursor: pointer;
}
.image-link-form-btn{
width: 30%;
border-left: none;
border: none;
border-bottom-right-radius: 8px;
border-top-right-radius: 8px;
outline: none;
cursor: pointer;
background: linear-gradient(to left,red,purple,green,blue);
color: white;
}
.image-link-form-btn:hover{
   background: linear-gradient(to right,red,purple,green,blue); 
   box-shadow: 0px 0px 4px rgb(218, 209, 209);
}